{% extends "account_base.html" %}
{% load static %}
{% block css %}
<style>
/* Add your custom CSS here */
.reset-page {
    width: 100%;
    max-width: 500px;
    border-radius: 32px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 10px 40px 0px rgba(0, 0, 0, 0.1);
    background-color: white;
}
#id_email {
      border: none;
      border-bottom: 1px solid rgba(204, 204, 204, 1);
      outline: none;
      width: 100%;
  }

.reset_h1 {
    font-family: Montserrat;
    font-size: 32px;
    font-weight: 600;
}

.input_field {
    width: 100%;
    border: none;
    background-color: white;
}

.email_label {
    font-family: Poppins;
    font-size: 12px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: rgba(109, 109, 109, 1);
}

.reset-button {
    width: 100%;
    height: 60px;
    border-radius: 16px;
    background-color: #005494;
}

.reset-button h1 {
    font-family: Poppins;
    color: white;
    font-size: 18px;
    font-weight: 600;
    margin: 0;
}
</style>
{% endblock css %}

{% block content %}
<div class="mb-5" style="position: relative; height: auto; min-height: 100vh;">
    <div class="text-center" style="width: 100%; height: 30vh; gap: 0px; opacity: 0px; background: rgba(0, 84, 148, 1);">
        <!-- Optional header image -->
        <img class="img-fluid mt-5" src="{% static 'image/nav/Group 154.png' %}" alt>
    </div>
    <div class="container">
        <div class="heading pt-5 reset-page">
            <div class="text-center reset_h1">
                <h1>Forget Password</h1>
            </div>
            <div class="forms_reset">
                <div class="form-group p-5" style="font-family: Poppins; font-size: 14px; font-weight: 400; color: #6D6D6D;">
                    <form action="{% url 'account_reset_password' %}" method="POST">
                        {% csrf_token %}
                        {% if form.email.errors %}
                            <div class="alert alert-danger" role="alert">
                                {{ form.email.errors }}
                            </div>
                        {% endif %}
                        <div class="form-group">
                            {{ form.email.label_tag }}
                            <br>
                            <br>
                            {{ form.email }}
                        </div>
                        <br>
                        <div class="text-center">
                            <button type="submit" class="reset-button">
                                <h1>Reset Password</h1>
                            </button>
                        </div>
                    </form>
                    <br>
                    <div class="text-center">
                        <a href="{% url 'account_login' %}" style="color: rgba(0, 84, 148, 1);">Back to Sign In</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
