{% extends "account_base.html" %}
{% load static %}
{% block css %}
<style>
/* Add your custom CSS here */
.reset-page {
    margin-top: 80px;
    width: 100%;
    max-width: 500px;
    border-radius: 32px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 10px 40px 0px rgba(0, 0, 0, 0.1);
    background-color: white;
}

.reset_h1 {
    font-family: Montserrat, sans-serif;
    font-size: 32px;
    font-weight: 600;
    color: #333;
}

.message_text {
    font-family: Poppins, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    color: rgba(109, 109, 109, 1);
}

.reset-button {
    width: 198px;
    height: 60px;
    border-radius: 16px;
    background: rgba(0, 84, 148, 1);
    color: white;
    font-family: Poppins, sans-serif;
    font-size: 18px;
    font-weight: 600;
    border: none;
    cursor: pointer;
}

.reset-button:hover {
    background: rgba(0, 84, 148, 0.8);
}
</style>
{% endblock css %}

{% block content %}
<div class="mb-5" style="position: relative; height: auto; min-height: 100vh;">
    <div class="text-center" style="width: 100%; height: 30vh; background: rgba(0, 84, 148, 1);">
        <!-- Optional header image -->
        <img class="img-fluid mt-5" src="{% static 'image/nav/Group 154.png' %}" alt>
    </div>
    <div class="container">
        <div class="pt-5 reset-page">
            <div class="text-center reset_h1">
                <h1>Password Reset Complete</h1>
            </div>
            <div class="form-group p-5 message_text">
                <p>Your password has been successfully reset. You can now log in with your new password.</p>
                <div class="text-center mt-4">
                    <a href="{% url 'account_login' %}">
                        <button type="button" class="reset-button">
                            Back to Sign In
                        </button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
