{% extends "account_base.html" %}
{% load static %}
{% load socialaccount %}
{% block css %}
<style>
    .signpage {
        margin: 80px 0px 140px 0px;
        width: 100%;
        max-width: 500px;
        border-radius: 32px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        box-shadow: 0px 10px 40px 0px rgba(0, 0, 0, 0.1);
        background-color: white;
    }

    .signup_h1 {
        font-family: Montserrat;
        font-size: 32px;
        font-weight: 600;


    }
    .placeholder{
        font-size: 12px;
        font-weight: 40;
    }

    .input_field {
        width: 100%;
        /* Adjust the width as needed */
        border: none;
        background-color: white;
    }


    .email_label {


        font-family: Poppins;
        font-size: 12px;
        font-weight: 400;
        line-height: 24px;
        text-align: left;

        color: rgba(109, 109, 109, 1);



    }

    .profile-img {
        max-width: 200px;
        height: auto;
        border-radius: 50%;
    }

    /* styles.css */

    .reset-button {
        width: 198px;
        height: 60px;
        border-radius: 16px;
        background: rgba(0, 84, 148, 1);
    }

    .reset-button h1 {
        font-family: Poppins;
        color: white;
        font-size: 18px;
        font-weight: 600;
        margin: 0;
    }




    .custom-sign-in-btn {
        font-family: 'Poppins', sans-serif;
        font-size: 16px;
        font-weight: 600;
        line-height: 32px;
        text-align: center;
        background-color: #005494;
        color: white;
    }

    #id_password {
        border: none;
        border-bottom: 2px solid rgba(204, 204, 204, 1);
        outline: none;
        width: 100%;

    }

    #id_email {
        border: none;
        border-bottom: 2px solid rgba(204, 204, 204, 1);
        outline: none;
        width: 100%;
    }

    .not_account_heading {
        font-family: Poppins;
        font-size: 14px;
        font-weight: 500;
        text-align: center;

    }

    #id_first_name {
        border: none;
        border: none;
        border-bottom: 2px solid rgba(204, 204, 204, 1);
        outline: none;
        width: 100%;
    }

    #id_username {
        border: none;
        border-bottom: 2px solid rgba(204, 204, 204, 1);
        outline: none;
        width: 100%;
    }

    #id_password1 {
        border: none;
        border-bottom: 2px solid rgba(204, 204, 204, 1);
        outline: none;
        width: 100%;
    }

    #id_password2 {
        border: none;
        border-bottom: 2px solid rgba(204, 204, 204, 1);
        outline: none;
        width: 100%;
    }
    .toggle-password {
        cursor: pointer;
        color: rgba(0, 84, 148, 1);
        position: absolute;
        right: 54px;
        top: 60%;
        transform: translateY(-50%);
        user-select: none;
        display: none; /* Hidden by default */
    }



    #id_last_name {
        border: none;
        border-bottom: 2px solid rgba(204, 204, 204, 1);
        outline: none;
        width: 100%;
    }
    #id_first_name:focus,
#id_username:focus,
#id_password1:focus,
#id_email:focus,
#id_last_name:focus {
    border-bottom: 1px solid rgba(0, 84, 148, 1); /* Blue color */
}
</style>

{% endblock css %}
{% block content %}
<div class="mb-5" style=" position: relative; height: auto; min-height: 120vh;">
    <div class="text-center"
        style="width: 100%; height: 40vh; gap: 0px; opacity: 0px; background: rgba(0, 84, 148, 1);">
        <img class="img-fluid mt-5" src="{% static 'image/nav/Group 154.png' %}" alt>
    </div>
    <div class="container">
        <div class="heading signpage pt-5">
            <div class="text-center signup_h1">
                <h1>Sign up</h1>
            </div>

            <div class="form-errors">
                {% if form.non_field_errors %}
                    <div class="alert alert-danger">
                        {% for error in form.non_field_errors %}
                            <p>{{ error }}</p>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
            
            <div class="forms_signup">
                <div style="
                    font-family: Poppins;
                    font-size: 14px;
                    font-weight: 400;
                    color: #6D6D6D;

                    " class="form-group p-5">

                    <form action="{% url 'account_signup' %}" method="POST">
                        {% csrf_token %}

                        {% for fm in form %}
                        {{ fm.label_tag }}
                        {{ fm }} 
                        {% if fm.name == "password1" %}
                                    <span class="toggle-password" onclick="togglePassword()">Show</span>
                        {% endif %}
                        {{ fm.errors|striptags }} <br><br>
                        {% endfor %}


                        <div class="text-center">
                            <button style="width:100%;height:60px;border-radius:16px;background:rgba(0, 84, 148, 1);"
                                type='submit' class="btn inbox-button" id="editProfileButton">
                                <h1 style="font-family:Poppins;color:white;font-size:18px;font-weight:600;margin:0;">
                                    sign up</h1>
                            </button>
                        </div>
                    </form>
                </div>
                </form>
                <div class="or">
                    <div class=" mt-2 text-center">
                        <h6>Or</h6>
                    </div>
                </div>
                <div>
                    <div class="text-center">
                    
                        <a href="{% provider_login_url 'google' action='reauthenticate' %}" class="alert-link text-decoration-none">
                            <button class="btn px-4" style="box-shadow: 0px 0px 2px 2px #e5dddd;">
                                <img class="img-fluid" height="23px" width="20px" src="{% static 'image/nav/search.png' %}" alt="">
                            </button>
                        </a>
                        
                        <a href="{% provider_login_url 'facebook' action='reauthenticate' %}" class="alert-link text-decoration-none">
                            <button class="btn px-4" style="box-shadow: 0px 0px 2px 2px #e5dddd;">
                                <img class="img-fluid" height="20px" width="20px" src="{% static 'image/nav/facebook.png' %}" alt="">
                            </button>
                        </a>
                        
                        <a href="{% provider_login_url 'github' action='reauthenticate' %}" class="alert-link text-decoration-none">
                            <button class="btn px-4" style="box-shadow: 0px 0px 2px 2px #e5dddd;">
                                <img class="img-fluid" height="20px" width="20px" src="{% static 'image/nav/facebook.png' %}" alt="">
                            </button>
                        </a>
                    
                    </div>
                </div>
                <br>
                <div>
                    <h4 class="not_account_heading">
                        Have an account?
                        <a href="{% url 'account_login' %}" style="color: rgba(0, 84, 148, 1); text-decoration: none;">Sign in.</a></h4>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        const passwordField = document.getElementById('id_password1');
        const togglePassword = document.querySelector('.toggle-password');

        passwordField.addEventListener('input', function() {
            if (passwordField.value.length > 0) {
                togglePassword.style.display = 'block';
            } else {
                togglePassword.style.display = 'none';
            }
        });

        togglePassword.addEventListener('click', function() {
            if (passwordField.type === 'password') {
                passwordField.type = 'text';
                togglePassword.textContent = 'Hide';
            } else {
                passwordField.type = 'password';
                togglePassword.textContent = 'Show';
            }
        });
    });
</script>
{% endblock content %}