{% extends "base.html" %}

{% block css %}

<style>
  :root {
    /* --body-bg: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%); */
    --msger-bg: #fff;
    --border: 2px solid #ddd;
    --left-msg-bg: #ececec;
    --right-msg-bg:#005494;
;
  }

  html {
    box-sizing: border-box;
  }

  *,
  *:before,
  *:after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
  }

  body {
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: var(--body-bg);
  }

  .msger {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    width: 100%;
    max-width: 100%;
    margin: 25px 10px;
    height: calc(100% - 50px);
    border: var(--border);
    border-radius: 5px;
    background: var(--msger-bg);
    box-shadow: 0 15px 15px -5px rgba(0, 0, 0, 0.2);
  }

  .msger-header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-bottom: var(--border);
    background: #eee;
    color: #666;
  }

  .msger-chat {
    flex: 1;
    overflow-y: auto;
    padding: 10px;
  }
  .msger-chat::-webkit-scrollbar {
    width: 6px;
  }
  .msger-chat::-webkit-scrollbar-track {
    background: #ddd;
  }
  .msger-chat::-webkit-scrollbar-thumb {
    background: #bdbdbd;
  }
  .msg {
    display: flex;
    /* align-items: flex-end; */
    margin-bottom: 10px;
  }
  .msg:last-of-type {
    margin: 0;
  }
  .msg-img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
    background: #ddd;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 50%;
  }
  .msg-bubble {
    max-width: 450px;
    padding: 15px;
    border-radius: 15px;
    background: var(--left-msg-bg);
  }
  .msg-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    gap: 18px;
  }
  .msg-info-name {
    margin-right: 10px;
    font-weight: bold;
    font-family: "Ubunto";
    margin: 8px;
  }
  .msg-info-time {
    font-size: 0.75em;
    margin-top: 15px;
  }

  .left-msg .msg-bubble {
    border-bottom-left-radius: 0;
  }

  .right-msg {
    flex-direction: row-reverse;
  }
  .right-msg .msg-bubble {
    background: var(--right-msg-bg);
    color: #fff;
    border-bottom-right-radius: 0;
  }
  .right-msg .msg-img {
    margin: 0 0 0 10px;
  }

  .msger-inputarea {
    display: flex;
    border-top: var(--border);
    background: #eee;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  .msger-inputarea * {
    padding: 10px;
    border: none;
    border-radius: 3px;
    font-size: 1em;
    font-family: "Ubunto";
  }
  .msger-input {
    flex: 1;
    background: white;
  }
  .msger-send-btn {
    margin-left: 10px;
    background: #005494;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.23s;
  }
  .msger-send-btn:hover {
    background: rgb(0, 180, 50);
  }

  .msger-chat {
    background-color: #F1F3F9;
  }
  .user-detail{
    display: flex;
  }

  /* Styling for the red dot */
  .red-dot {
    width: 10px;
    height: 10px;
    background-color: red;
    border-radius: 50%;
    /* display: inline-block; */
    margin-left: 5px;
    flex: 1;
  }

  /* Styling for the chat container */
  .chat-container {
    {% comment %} display: flex; {% endcomment %}
    width:100%
  }

  /* Styling for the left sidebar */
  .sidebar {
    width: 20%;
    background-color: #f0f0f0;
    padding: 10px;
  }

  /* Styling for the chat content */
  .chat-content {
    width: 80%;
    background-color: #fff;

  }

  /* Styling for the chat messages */
  .chat-messages {
    height: 70vh;
    overflow-y: auto;
    border-radius: 5px;
    padding: 10px;
  }

  /* Styling for the textarea and send button */
  .message-input {
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px;
    margin-top: 10px;
  }

  .send-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
  }
  .otherchat {
    background-color: #007bff;
    color: #fff;
    max-width: 60%;
    padding: 10px;
    border-radius: 10px;
    margin: 10px;
    clear: both;
    word-wrap: break-word;
    float: left;
  }

  .chat-card {
    background-color: #e0e0e0;
    color: #000;
    max-width: 60%;
    padding: 10px;
    border-radius: 10px;
    margin: 10px;
    clear: both;
    word-wrap: break-word;
    float: right;
  }
  .sidebar {
    width: 26%;
    background-color: white;
    padding: 10px;
    border-right: var(--border);
    overflow-y: auto;
    max-height: 80vh; /* Adjust this height as needed */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .sidebar-header {
    margin-bottom: 15px;
  }
  
  .sidebar-header .nav-link {
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 4px;
    font-weight: bold;
    color: #333;
    text-decoration: none;
    background-color: var(--sidebar-item-bg);
  }
  
  .sidebar-header .nav-link:hover {
    background: var(--sidebar-item-hover-bg);
  }
  
  .nav-link {
    display: flex;
    align-items: center;
    padding: 10px;
    margin-bottom: 8px;
    border-radius: 4px;
    background: var(--sidebar-item-bg);
    color: #333;
    text-decoration: none;
    font-weight: 500;
    transition: background 0.3s;
  }
  
  .nav-link.active,
  .nav-link:hover {
    background: var(--sidebar-item-hover-bg);
    color: var(--button-bg);
  }
  
  .sidebar-item {
    display: flex;
    align-items: center;
  }
  
  .sidebar-item-img {
    width: 40px;
    height: 40px;
    margin-right: 10px;
    background: #ddd;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 50%;
  }
  
  .sidebar-item-username {
    font-size: 1rem;
    color: #333;
    font-family: "Ubunto";
  }
  #username{
    font-family: "Ubuntu";
    font-size: 22.55px;
    font-weight: 500;
    line-height: 25.9px;
    text-align: left;

  }
  #top-nav{
    background-color: white;
  }
  
</style>

{% endblock css %}

{% block content %}

<div class="main d-flex container mt-5 mb-5">
  <div class="sidebar">
    <div class="sidebar-header">
      <a class="nav-link" href="/?user={{default_user}}" role="tab" aria-controls="v-pills-home" aria-selected="true">
        <span>Inbox</span>
      </a>
    </div>
    <nav class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
      {% for frnd in frnds %}
      <a class="nav-link{% if frnd.username == default_user %} active{% endif %}" href="/chat/?user={{frnd.username}}" role="tab" aria-controls="v-pills-home" aria-selected="false">
        <div class="sidebar-item">
          <div class="sidebar-item-img" style="background-image: url(https://image.flaticon.com/icons/svg/145/145867.svg);">
            
          </div>

          <span class="sidebar-item-username">{{frnd.username}}</span>
        </div>
      </a>
      {% endfor %}
    </nav> 
  </div>
  <div class="chat-container">
    <div class="chat-content">
      <div class="navbar" id="top-nav">
        <div class="container-fluid">
          <a class="navbar-brand user-detail" href="#">
            {% comment %} <div class="msg-img" style="background-image: url('{{ user.profile_img.url }}');"> {% endcomment %}
                
            </div>
            <h2 id="username" class="m-auto">{{default_user}}<span class="red-dot"></span></h2>
          </a>
        </div>
      </div>
      <div class="chat-messages msger-chat">
        {% if chats %}
          {% for key, chat in chats.items %} 
          {% if chat.user == 'me' %}
          <div class="msg right-msg">
            <div class="msg-bubble">
              <div class="msg-info">
                <div class="msg-text">{{chat.msg}}</div>
                <div class="msg-info-time">12:45</div>
              </div>
            </div>
          </div>
          {% else %}
          <div class="msg left-msg">
            <div class="msg-img" style="background-image: url(https://image.flaticon.com/icons/svg/145/145867.svg);"></div>
            <div>
              <div class="msg-info-name">{{chat.user}}</div>
              <div class="msg-bubble">
                <div class="msg-info">
                  <div class="msg-text">{{chat.msg}}</div>
                  <div class="msg-info-time">12:46</div>
                </div>
              </div>
            </div>
          </div>
          {% endif %} 
          {% endfor %}
        {% endif %}
      </div>
      <div class="msger-inputarea">
        <textarea type="text" class="msger-input" placeholder="Enter your message..."></textarea>
        <button type="submit" class="msger-send-btn">Send</button>
      </div>
    </div>
  </div>
</div>

{% endblock content %}



{% block js %}
<script>
  document.addEventListener("DOMContentLoaded", function () {
    // Get the query parameter 'user' from the URL
    const queryParams = new URLSearchParams(window.location.search);
    const user = queryParams.get("user");
    const PERSON_IMG =
      "https://image.flaticon.com/icons/svg/145/145867.svg";

    // Activate the tab based on the 'user' query parameter
    const tab = document.querySelector(`[href="/?user=${user}"]`);
    if (tab) {
      tab.classList.add("active");
      tab.setAttribute("aria-selected", "true");
      document.getElementById("username").textContent = user;
    }
    if (user === null) {
      const chatContent = document.querySelector(".chat-content");
      chatContent.style.display = "none";
    }
    var sendButton = document.querySelector(".msger-send-btn");
    var textarea = document.querySelector(".msger-input");
    var chatMessages = document.querySelector(".msger-chat");
    var ws;


function appendMessage(name, text, img, side) {
 console.log(`this is side inside the appendMessage function ${side}`)
 let msgHTML;

if (side === "right") {
console.log('this is right side')
msgHTML = `
  <div class="msg ${side}-msg">
    <div class="msg-bubble">
      <div class="msg-info">
        <div class="msg-text">${text}</div>
        <div class="msg-info-time">${formatDate(new Date())}</div>
      </div>
    </div>
  </div>
`;
} else {
console.log('this is left side')
msgHTML = `
  <div class="msg ${side}-msg">
    <div class="msg-img" style="background-image: url(${img})"></div>
    <div>
      <div class="msg-info-name">${name}</div>
      <div class="msg-bubble">
        <div class="msg-info">
          <div class="msg-info-time">${formatDate(new Date())}</div>
        </div>
        <div class="msg-text">${text}</div>
      </div>         
    </div>
  </div>
`;
}

chatMessages.insertAdjacentHTML("beforeend", msgHTML);
chatMessages.scrollTop += 500;
}


    function get(selector, root = document) {
      return root.querySelector(selector);
    }

    function formatDate(date) {
      const h = "0" + date.getHours();
      const m = "0" + date.getMinutes();

      return `${h.slice(-2)}:${m.slice(-2)}`;
    }

    function random(min, max) {
      return Math.floor(Math.random() * (max - min) + min);
    }

    // Function to send a message via WebSocket
    function sendMessage(message) {
      if (ws && ws.readyState === WebSocket.OPEN) {
        ws.send(JSON.stringify({ user: user, msg: message }));
      }
    }

    // Connect to the WebSocket server
    ws = new WebSocket("ws://127.0.0.1:8000/ws/wsc/");

    // Handle WebSocket connection open
    ws.addEventListener("open", function (event) {
      console.log("WebSocket connection opened.");
    });

    // Handle WebSocket message received
    ws.addEventListener("message", function (event) {
      console.log(`this is message ${event.data}`);
      appendMessage("frnd", event.data, PERSON_IMG, "left");
    });

    // Handle WebSocket close
    ws.addEventListener("close", function (event) {
      console.log("WebSocket connection closed.");
    });

    // Handle Send button click
    sendButton.addEventListener("click", function () {
      const messageText = textarea.value;

      if (messageText.trim() !== "") {
        sendMessage(messageText);

        // Append the sent message to chat messages
        appendMessage("me", messageText, PERSON_IMG, "right");

        // Clear the textarea
        textarea.value = "";
      }
    });
  });


  document.addEventListener("DOMContentLoaded", function () {
    // Get the query parameter 'user' from the URL
    const queryParams = new URLSearchParams(window.location.search);
    const user = queryParams.get("user");
    
    // If no user is specified, set the default user
    if (!user) {
      const defaultUser = "{{ default_user }}";
      if (defaultUser) {
        window.location.href = `/chat/?user=${defaultUser}`;
      }
    }

    // Set the active class for the current user
    const links = document.querySelectorAll(".nav-link");
    links.forEach(link => {
      const href = link.getAttribute("href");
      const linkUser = href.split("/").pop(); // Get the username from the URL
      console.log('before if condition')

      if (linkUser === user) {
        console.log('second last function')
        link.classList.add("active");
      }
    });
  });


console.log('aisy hi kra rha hoo')
  document.addEventListener("DOMContentLoaded", function () {
    // Get the query parameter 'user' from the URL
    const queryParams = new URLSearchParams(window.location.search);
    const user = queryParams.get("user");

    if (user) {
      // Set the active class for the current user
      const links = document.querySelectorAll(".nav-link");
      links.forEach(link => {
        const linkUser = link.getAttribute("href").split("/")[2];
        if (linkUser === user) {
          console.log('last function')
          link.classList.add("active");
        }
      });
    }
  });
</script>


{% endblock js %}

